@page "/"


<h1>Компьютерные бизнес системы тестовое задание: веб-приложение для работы с данными справочника "Города" с использованием WebAssembly.</h1>

<ol>
    <li>Клиентская часть создана с помощью Blazor client-side</li>
    <li>Серверная часть создана с помощью ASP.NET Core</li>
    <li>База данных - In-Memory</li>
    <li>Синхронизация происходит в runtime режиме (SignalR)</li>
</ol>
